.left-side-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side-container .img-left-side-container {
    width: 70px;
    height: 70px;
    object-fit: contain;
}