<div class="container mt-4 containerMargin">
    <ul  class="nav nav-pills nav-justified ulCustom">
        <li class="nav-item liCustom" *ngFor="let step of steps;let i =index">
            <div class="d-grid">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div
                    (click)="onClick(i)"
                    [class.btn-active]="selectedIndex === i"
                    [class.btn-inactive]="selectedIndex !== i"
                    class="py-3 fw-bold btn">
                     {{ step.label }}
                 </div>
                  <p class="subLabel">{{ stepperSubLabels[i] }}</p>
                </div>
                
            </div>

           
        </li>

        <li class="nav-item d-flex justify-content-center liCustom1">
            <img src="./assets/images/line.png" />
        </li>
    </ul>
    
    <div *ngIf="selected" class="stepperComponentDisplay">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</div>