<div class="container">
    <div class="row ">
      <div class="col-10 ">
        <app-stepper-modal-right-side [linearModeSelected]="true" #appStepper>
          <cdk-step [label]="'1'"> 
            <app-form-one left_Button="CANCEL" right_Button="NEXT"></app-form-one>
          </cdk-step>
          <cdk-step [label]="'2'">
            <app-form-two left_Button="PREVIOUS" right_Button="NEXT"></app-form-two>
          </cdk-step>
          <cdk-step [label]="'3'">
            <app-form-three  left_Button="PREVIOUS" right_Button="NEXT"></app-form-three>
          </cdk-step>
          <cdk-step [label]="'4'">
            <app-form-four  left_Button="PREVIOUS" right_Button="NEXT"></app-form-four>
          </cdk-step>

          <cdk-step [label]="'5'">
            <app-form-five  left_Button="PREVIOUS" right_Button="CREATE USER"></app-form-five>
          </cdk-step>
        </app-stepper-modal-right-side>
      </div>
    </div>
  </div>
  