<div class="container">
    <div class="row ">
      <div class="col-10 ">
        <app-stepper-modal-right-side [linearModeSelected]="true" #appStepper>
          <cdk-step [label]="'1'"> 
            <app-form-one></app-form-one>
          </cdk-step>
          <cdk-step [label]="'2'">
            step 2
          </cdk-step>
          <cdk-step [label]="'3'">
            step 3
          </cdk-step>
          <cdk-step [label]="'4'">
            step 4
          </cdk-step>

          <cdk-step [label]="'5'">
            step 5
          </cdk-step>
        </app-stepper-modal-right-side>
      </div>
    </div>
  </div>
  